
    @import "custom/base.css";
    @import "custom/content.css";
    @import "custom/footer.css";
    @import "custom/body.css";
    @import "custom/navbar.css";
        
    :root {
      --glass-card-margin:  20vw;
      --page-margin:        6%;
      --page-width:         100%;
      --entry-width:        100%; 
      --navbar-height:      4.4rem; 
      --border-radius:      3px;
      --baseline:           0.28333rem;
      --gallery-gap:        calc(var(--baseline) * 1.5); 
      --body-font:          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      --heading-font:       -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      --logo-font:          var(--body-font);
      --menu-font:          var(--body-font);
      --font-size:          clamp(1.1rem, 1.1rem + (0.09999999999999987 * ((100vw - 20rem) / 70)), 1.2rem);
      --font-weight-normal: 400; 
      --font-weight-bold:   600; 
      --line-height:        1.7;
      --letter-spacing:     0em;  
      --headings-weight:    500;
      --headings-transform: none;
      --headings-style:     normal;
      --headings-letter-spacing: 0em;
      --headings-line-height: 1.2;
      --hero-height:        undefined;
      --feed-image-size:    undefinedrem;
      --highlight-color:    #FFC700;
      --info-color:         #67B1F3;
      --success-color:      #00A563;
      --warning-color:      #EE4E4E;
    
        --text-color:         #000000;
        --text-color-hover:   rgba(0,0,0,.7);
        --logo-text-color:    #000000;
        --glass-card-bg-rgb:  255,255,255;
        --glass-card-opacity: 0.6;
        --glass-card-blur:    blur(30px);
        --glass-card-blicks-color-rgb: 255,255,255;
        --glass-card-depth:   3;
    
  } 
      @media all and (min-width: 56.25em) {
        :root {
          --navbar-height: 6rem;
        }
      } 
   
      @media (prefers-color-scheme: dark) {
        :root {                
           
        --text-color:         #FFFFFF;
        --text-color-hover:   rgba(255,255,255,.7);   
        --logo-text-color:    #FFFFFF;
        --glass-card-bg-rgb:  0,0,0;
        --glass-card-opacity: 0.3;
        --glass-card-blur:    blur(30px);
        --glass-card-blicks-color-rgb: 255,255,255;
        --glass-card-depth:   3;
    
        }        
      }
    /* custom/*.css files are imported via theme-variables.js in order to preserve @import order in the top of this file */
      
        input[type=checkbox]:checked + label:before{
               background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23000000'/%3e%3c/svg%3e");
        }

        input[type=radio]:checked + label:before {
               background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23000000'/%3e%3c/svg%3e");
        

        } 
      @media (prefers-color-scheme: dark) {
        :root {                
          
      
        input[type=checkbox]:checked + label:before{
               background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23FFFFFF'/%3e%3c/svg%3e");
        }

        input[type=radio]:checked + label:before {
               background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23FFFFFF'/%3e%3c/svg%3e");
        

        }
        }        
      }
     
         img[loading] {
               opacity: 0;
         }

         img.is-loaded {
               opacity: 1;
               transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1); 
         }

