.nav-hover:hover,
.hav-hover:focus {
    color: var(--text-color-hover);
    scale: 1.1;
    transition: all 0.24s ease-out;
}

.nav-hover:active {
    color: var(--text-color-hover);
    border-color: var(--text-color-hover);
    scale: 0.9;
    transition: all 0.24s ease-out;
}