.page-bg-wrapper {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.page-bg {
  width: 100svw;
  height: 100svh;
  object-fit: cover;
  object-position: center top;
  filter: none;
  opacity: 1;
  animation: pageBgFadeIn 3s ease-in-out forwards;
}

@keyframes pageBgFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-bg-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: var(--page-bg-overlay-blur) var(--page-bg-overlay-saturation);
  -webkit-backdrop-filter: var(--page-bg-overlay-blur) var(--page-bg-overlay-saturation);
  background: var(--page-bg-overlay-background);
}

.glass-card {
  background: rgba(var(--glass-card-bg-rgb), var(--glass-card-opacity));
  box-shadow:
    0 0 15px 10px rgba(0, 0, 0, 0.3),
    var(--glass-card-box-shadow-blick-top),
    var(--glass-card-box-shadow-blick-bottom),
    var(--glass-card-box-shadow-depth-top),
    var(--glass-card-box-shadow-depth-bottom),
    var(--glass-card-box-shadow-depth-left),
    var(--glass-card-box-shadow-depth-right);
  backdrop-filter: var(--glass-card-blur);
  -webkit-backdrop-filter: var(--glass-card-blur);
  border: 1px solid rgba(var(--glass-card-blicks-color-rgb), 0.3);
}

.body-content-fade-in {
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex: 1;
}

.body-content-fade-in>* {
  opacity: 0;
  animation: bodyContentFadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes bodyContentFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}