.footer {
    border-top: 1px solid rgb(var(--glass-card-blicks-color-rgb));
    font-size: 1rem;
    max-width: var(--page-width);
    text-align: center;
    opacity: 0;
    width: var(--glass-card-width-mobile);
    margin-inline: 0;
    margin-block: 0;
    padding-top: var(--viewport-baseline);
    padding-bottom: calc(var(--viewport-baseline)*0.5);
    padding-inline: var(--page-margin);
    border-radius: var(--glass-card-border-radius-mobile) var(--glass-card-border-radius-mobile) 0 0;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    --glass-card-box-shadow-depth-bottom: var(--glass-card-box-shadow-depth-null-value);
    --glass-card-box-shadow-blick-bottom: var(--glass-card-box-shadow-depth-null-value)
}

@media all and (min-width: 56.25em) {
    .footer {
        width: calc(100% - var(--glass-card-margin));
        border-radius: var(--glass-card-border-radius) var(--glass-card-border-radius) 0 0;
        margin-inline: auto;
    }
}

#footerContent{
    display: inline-grid;
}

.footer__bttop {
    border-radius: 50%;
    border-color: var(--text-color);
    color: var(--text-color);
    line-height: calc(var(--baseline) * 2);
    padding: calc(var(--baseline) * 2);
    position: fixed;
    right: 2rem;
    text-align: center;
    width: auto !important;
    visibility: hidden;
    opacity: 0;
    z-index: 999;

}

.footer__bttop.inline {
    position: relative;
    right: 0;
    justify-self: end;
    display: block;
}

.footer__bttop:hover {
    color: var(--text-color-hover);
    border-color: var(--text-color-hover);
}

.footer__bttop.is-visible {
    visibility: visible;
    opacity: 1;
}

.footer__nav ul {
    list-style: none;
    margin: 0;
}

.footer__nav ul li {
    display: inline-block;
    padding: var(--baseline) 0.5rem;
}

*+.footer__social {
    margin-top: calc(var(--baseline) * 6 + 0.5vw);
}

.footer__social svg {
    fill: var(--text-color);
    height: 2rem;
    margin: 0 0.5rem;
    -webkit-transition: all 0.12s linear 0s;
    transition: all 0.12s linear 0s;
    width: 2rem;
}

.footer__copyright {
    font-size: 0.9rem;
    margin-top: var(--baseline);
}

.footer__copyright>*:first-child {
    margin: 0;
}

.pcb {
    position: fixed;
}

.theme-switch-wrapper {
    display: -webkit-box;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: auto;
    text-transform: capitalize;
    border-radius: 40%;
    padding-inline: 0.6rem;
    margin-bottom: calc(var(--viewport-baseline)*0.5);
    z-index: 99999;
}
.theme-switch-wrapper.inline {
    position: relative;
    left: 0;
    justify-self: start;
    margin-bottom: 0px;
    display: block;
}

#theme-switch-wrapper-mobile {
    position: static;
    display: none;
    pointer-events: none;
    justify-self: end;
}
#theme-switch-wrapper-mobile.is-visible {
    display: -webkit-box;
    pointer-events: auto;
}
.navbar_mobile_overlay #theme-switch-wrapper-mobile{
    justify-self: center;
}

.theme-switch-container {
    display: grid;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    justify-items: center;
}

.theme-switch {
    text-transform: capitalize;
}

.nav-hover:hover,
.hav-hover:focus {
    color: var(--text-color-hover);
    scale: 1.1;
    transition: all 0.24s ease-out;
}

.nav-hover:active {
    color: var(--text-color-hover);
    border-color: var(--text-color-hover);
    scale: 0.9;
    transition: all 0.24s ease-out;
}