.footer {
    border-top: 1px solid rgb(var(--glass-card-blicks-color-rgb));
    font-size: 1rem;
    max-width: var(--page-width);
    text-align: center;
    opacity: 0;
    width: calc(100vw - var(--glass-card-margin));
    margin-inline: auto;
    margin-block: 0;
    padding-top: var(--viewport-baseline);
    padding-bottom: calc(var(--viewport-baseline)*0.5);
    padding-inline: var(--page-margin);
    border-radius: var(--glass-card-border-radius) var(--glass-card-border-radius) 0 0;
    border-bottom: none;
    --glass-card-box-shadow-depth-bottom: var(--glass-card-box-shadow-depth-null-value);
    --glass-card-box-shadow-blick-bottom: var(--glass-card-box-shadow-depth-null-value)
}

.footer__bttop {
    bottom: calc(var(--baseline) * 5);
    border-radius: 50%;
    border-color: var(--text-color);
    color: var(--text-color);
    line-height: 1;
    padding: calc(var(--baseline) * 2);
    position: fixed;
    right: 2rem;
    text-align: center;
    width: auto !important;
    visibility: hidden;
    z-index: 999;
}

.footer__bttop:hover {
    color: var(--text-color-hover);
    border-color: var(--text-color-hover);
    opacity: 1;

}

@media all and (min-width: 56.25em) {
    .footer__bttop {
        bottom: calc(var(--baseline) * 10);
    }
}

.footer__bttop.is-visible {
    visibility: visible;
    opacity: 1;
}

.footer__nav ul {
    list-style: none;
    margin: 0;
}

.footer__nav ul li {
    display: inline-block;
    padding: var(--baseline) 0.5rem;
}

*+.footer__social {
    margin-top: calc(var(--baseline) * 6 + 0.5vw);
}

.footer__social svg {
    fill: var(--text-color);
    height: 1rem;
    margin: 0 0.5rem;
    -webkit-transition: all 0.12s linear 0s;
    transition: all 0.12s linear 0s;
    width: 1rem;
}

.footer__copyright {
    font-size: 0.9rem;
    margin-top: var(--baseline);
}

.footer__copyright>*:first-child {
    margin: 0;
}

.pcb {
    position: fixed;
}

.theme-switch-wrapper {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: auto;
    margin: 1rem;
    text-transform: capitalize;
    border-radius: 40%;
    padding-inline: 0.6rem;
    padding-block: 0.4rem;
}

@media all and (min-width: 56.25em) {
    .theme-switch-wrapper {
        display: -webkit-box;
    }

}

.navbar_mobile_sidebar:not(.is-hidden) .theme-switch-wrapper {
    display: -webkit-box;
}

.navbar_mobile_overlay:not(.is-hidden) .theme-switch-wrapper {
    display: -webkit-box;
}

.theme-switch-container {
    display: grid;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    justify-items: center;
}

.nav-hover:hover,
.hav-hover:focus {
    color: var(--text-color-hover);
    scale: 1.1;
    transition: all 0.24s ease-out;
}

.nav-hover:active {
    color: var(--text-color-hover);
    border-color: var(--text-color-hover);
    scale: 0.9;
    transition: all 0.24s ease-out;
}